AUTHORS
*.c
ChangeLog
config*
COPYING
debian/*pgpool*/
debian/*.debhelper
debian/*.debhelper.log
debian/files
debian/*.substvars
debian/tmp/
depcomp
.deps/
doc/
*.h
INSTALL
install-sh
.libs/
libtool
ltmain.sh
*.m4
m4/
Makefile*
missing
mkinstalldirs
NEWS
*.o
parser/
.pc/
pcp/
pcp.conf.sample
pg_md5
pgpool*
pool_config.l
pool_hba.conf.sample
README*
redhat/
sample/
sql/
stamp-h1
test/
TODO
watchdog/
ylwrap
